#include "{{node_name}}/parameters.hpp"

parameters_t Parameters;

void load_parameters(rclcpp::Node* node)
{
{% for param_name,type in params.items() %}
    node->declare_parameter("{{param_name}}", {{type}});
{% endfor %}

{% for param_name,type in lang_types.items() %}
    Parameters.{{param_name}} = node->get_parameter("{{param_name}}").get_value<{{type}}>();
{% endfor %}
}

ParameterizedNode::ParameterizedNode(std::string node_name) : rclcpp::Node(node_name)
{
    load_parameters(this);
}